## Recomendador: Basado en Contenido Ejercicio

Utilizado el dataset **`movies.csv`**, realiza un algoritmo de recomendación basado en contenido para la información dada por **`usuario_input`**.

Has preprocesamiento para el nombre de las peliculas y utiliza la columna **`genres`** para descomponer las peliculas en sus categorias.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("../Data/movies.csv")

df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
34203,151697,Grand Slam (1967),Thriller
34204,151701,Bloodmoney (2010),(no genres listed)
34205,151703,The Butterfly Circus (2009),Drama
34206,151709,Zero (2015),Drama|Sci-Fi
34207,151711,The 2000 Year Old Man (1975),(no genres listed)

In [3]:
usuario_input = [{"title" : "Breakfast Club, The", "rating" : 5  },
                 {"title" : "Toy Story"          , "rating" : 3.5},
                 {"title" : "Jumanji"            , "rating" : 2  },
                 {"title" : "Pulp Fiction"       , "rating" : 5  },
                 {"title" : "Akira"              , "rating" : 4.5}]    

usuario_activo = pd.DataFrame(usuario_input)

usuario_activo

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

In [ ]:
################################################################################################################################